.DS_Store

**/.dart_tool/
**/.packages
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.metadata
**/build/**
!products/**/build/
!products/**/build/outputs/
!products/**/build/outputs/.gitkeep
!templates/flutter_product_shell/build/
!templates/flutter_product_shell/build/outputs/
!templates/flutter_product_shell/build/outputs/.gitkeep
!templates/flutter_tool_app/build/
